body{
    margin: 0;
    padding: 0;
    background-color:  hsl(30, 38%, 72%)
    
}
.container{
    width: 450px;
    height: 450px;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
    display: flex;
    
    


}
.picture img{
    width: 225px;
    height: 450px;
    object-fit: cover;
    border-radius: 3% 0 0 3%;

    
}
.text{
    width: 225px;
    height: 450px;
    padding-left: 15px;
    background-color: white;
   
}
.first, .second{
    display: inline-block;
}
.first{
    margin-right: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: crimson;
}
.second{
    text-decoration: line-through;
   color: cadetblue;

}
button{
 
color: white;
background-color: brown;
border: none;
border-radius: 5%;
 width: 90%;
 height: 40px;
 

}
button:hover{
    color: black;
background-color: blue;
}
p:nth-of-type(1){
    color: cadetblue;
}
p:nth-of-type(2){
    font-size: 24px;
    font-weight: bold;
}
p:nth-of-type(3){
    color: cadetblue;
}
p{
    font-family: sans-serif;
}